<footer class="container pt-5 py-3">
  <div class="row">
    <div class="col-lg-6">
      <p class="">
        Copyright &copy; 2017-2019, Dwight Diesmo - All Rights Reserved
      </p>
    </div>
    <div class="col-lg-6 text-right">
      <a href="https://www.instagram.com/dwightdiesmo/" target="_blank" class="text-main">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://github.com/DwightDiesmo" target="_blank" class="text-main"> 
        <i class="fab fa-github-alt"></i> 
      </a>
    </div>
  </div>
</footer>
