{{ define "main" }}

<div id="header" class="p-5">
  <div class="container py-5">
    <div class="row ">
      <div class="col-lg-6 m-auto">
        <button class="btn bubble p-2 px-4">Hello I'm</button>
        <h1 class="font-weight-bold py-3">Dwight Diesmo</h1>
        <h4 class="font-weight-bold">Computer Engineer</h4>
        <div class="card bg-transparent border-0">
          <div class="card-body">
            <p class="">dwightdiesmo@gmail.com</p>
            <p class="">805.444.7938</p>
          </div>
        </div>
        <div class="row">
          <a href="" class=""></a>
        </div>
      </div>
      <div class="col-lg-6 m-auto">
        <img
          src="/img/profile.png"
          alt=""
          class="w-100 rounded-circle border-circle"
        />
      </div>
    </div>
  </div>
</div>

<div id="about" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-5 m-auto">
        <img src="/img/worker.png" alt="" class="w-100" />
      </div>
      <div class="col-lg-6 p-5 m-auto">
        <h1 class="font-weight-bold">About Me</h1>
        <h6 class="">
          Hello, I'm a Dwight, computer engineer based in California. I have a
          rich experience in web development, app development, and software as a
          service. Also I'm good at
        </h6>
        <div class="row px-4 py-4">
          <div class="p-1">
            <button class="btn btn-outline btn-outline-main">
              javascript
            </button>
          </div>
          <div class="p-1">
            <button class="btn btn-outline btn-outline-main">
              html
            </button>
          </div>
          <div class="p-1">
            <button class="btn btn-outline btn-outline-main">
              css
            </button>
          </div>
          <div class="p-1">
            <button class="btn btn-outline btn-outline-main">
              javascript
            </button>
          </div>
          <div class="p-1">
            <button class="btn btn-outline btn-outline-main">
              react
            </button>
          </div>
          <div class="p-1">
            <button class="btn btn-outline btn-outline-main">
              flutter
            </button>
          </div>
          <div class="p-1">
            <button class="btn btn-outline btn-outline-main">
              aws
            </button>
          </div>
          <div class="p-1">
            <button class="btn btn-outline btn-outline-main">
              express
            </button>
          </div>
          <div class="p-1">
            <button class="btn btn-outline btn-outline-main">
              pwa
            </button>
          </div>
          <div class="p-1">
            <button class="btn btn-outline btn-outline-main">
              c#
            </button>
          </div>
        </div>
        <a
          href=""
          class="btn btn-lg btn-main rounded-pill font-weight-bold px-5 py-2"
          >See Projects</a
        >
      </div>
    </div>
  </div>

  <div class="container py-5">
    <h1 class="text-center font-weight-bold py-5">What I do</h1>
    <div class="row card-deck drop-shadow">
      <div class="card col-lg-4 p-4">
        <i class="fas fa-ruler-combined fa-2x text-main"></i>
        <div class="card-body">
          <h3 class="font-weight-bold">UI Design</h3>
          <h6 class="">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat.
          </h6>
        </div>
      </div>
      <div class="card col-lg-4 p-4">
        <i class="fas fa-code fa-2x text-main"></i>
        <div class="card-body">
          <h3 class="font-weight-bold">Web Development</h3>
          <h6 class="">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat.
          </h6>
        </div>
      </div>
      <div class="card col-lg-4 p-4">
        <i class="far fa-object-ungroup fa-2x text-main"></i>
        <div class="card-body">
          <h3 class="font-weight-bold">App Development</h3>
          <h6 class="">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat.
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div id="featured" class="text-center"></div>
</div>

<div id="skills" class="py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="text-center font-weight-bold py-5">Technical Skills</h1>
        <div class="row">
          <div class="col">
            <h6 class="">Javascript</h6>
          </div>
          <div class="col">
            <h6 class="text-right">100%</h6>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar bg-main rounded-pill"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <h6 class="">Bootstrap</h6>
          </div>
          <div class="col">
            <h6 class="text-right">90%</h6>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar bg-main rounded-pill"
            role="progressbar"
            style="width: 90%"
            aria-valuenow="90"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <h6 class="">C#</h6>
          </div>
          <div class="col">
            <h6 class="text-right">40%</h6>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar bg-main rounded-pill"
            role="progressbar"
            style="width: 40%"
            aria-valuenow="40"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <h6 class="">React</h6>
          </div>
          <div class="col">
            <h6 class="text-right">60%</h6>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar bg-main rounded-pill"
            role="progressbar"
            style="width: 60%"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
      <div class="col-lg-6">
        <h1 class="text-center font-weight-bold">Professional Skills</h1>
      </div>
    </div>
  </div>
</div>

<div id="experiences" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="font-weight-bold py-5">Experience</h1>
        {{ range.Pages.ByDate.Reverse }}
        <div class="card px-5 py-4 drop-shadow">
          <div class="row">
            <h5 class="font-weight-bold">{{ .Params.JobTitle }} /</h5>
            <span class="px-1"></span>
            <h5 class="font-weight-bold text-main">{{ .Title }}</h5>
          </div>
          <h6 class="text-main">{{ .Params.Duration }}</h6>
          <h6 class="">Responsibility</h6>
          {{ .Content }}
        </div>
        <div class="py-5">
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="container">
  <h1 class="font-weight-bold text-center">Let's Connect</h1>
  <div class="row">
    <div class="col-lg-6">
      <div class="card text-center drop-shadow p-5">
        <i class="far fa-envelope text-main fa-3x"></i>
        <h3 class="font-weight-bold pt-3">Email</h3>
        <a href="dwightdiesmo@gmail.com" class="text-decoration-none text-dark">dwightdiesmo@gmail.com</a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card text-center drop-shadow p-5">
        <i class="fas fa-phone text-main fa-3x"></i>
        <h3 class="font-weight-bold pt-3">Phone</h3>
        <a href="tel:8054447938" class="text-decoration-none text-dark">805.444.7938</a>
      </div>
    </div>
  </div>
</div>

{{ end }}
