{{ define "main" }}
<!-- https://www.thecamarilloacorn.com/articles/rancho-campanas-inaugural-graduating-class-is-looking-toward-future/ -->

<section id="about-console" class="bg-three py-5">
  <div class="container">
    <h6 class="text-center text-white pb-5">
      HELLO, WORLD! I'M A COMPUTER ENGINEER AND ENTREPRENEUR.
    </h6>
    <div class="bg-light rounded-top py-2"></div>
    <div class="bg-dark px-3 py-4">
      <div class="">
        <h6 class="text-one font-weight-normal fs-12">> dwightdiesmo.Origin</h6>
        <h6 class="text-light font-weight-normal fs-12 ml-4">
          => "Camarillo, CA"
        </h6>
      </div>

      <div class="">
        <h6 class="text-one font-weight-normal fs-12">
          > dwightdiesmo.Education
        </h6>
        <h6 class="text-light font-weight-normal fs-12 ml-4">
          => "San Diego State University"
        </h6>
      </div>

      <div class="">
        <h6 class="text-one font-weight-normal fs-12">> dwightdiesmo.Major</h6>
        <h6 class="text-light font-weight-normal fs-12 ml-4">
          => "Computer Engineering"
        </h6>
      </div>

      <div class="">
        <h6 class="text-one font-weight-normal fs-12">
          > dwightdiesmo.Graduation
        </h6>
        <h6 class="text-light font-weight-normal fs-12 ml-4">=> "May 2022"</h6>
      </div>

      <div class="">
        <h6 class="text-one font-weight-normal fs-12">
          > dwightdiesmo.Interests
        </h6>
        <h6 class="text-light font-weight-normal fs-12 ml-4">
          => ["Design", "Code", "Cinema", "Music", "Martial Arts", "Cooking"]
        </h6>
      </div>

      <div class="">
        <h6 class="text-one font-weight-normal fs-12">> dwightdiesmo.Resume</h6>
        <h6 class="text-light font-weight-normal fs-12 ml-4">
          => "<a href="" class="text-decoration-none text-two"
            >dwightdiesmo.pdf</a
          >"
        </h6>
      </div>

      <div class="">
        <h6 class="text-one font-weight-normal fs-12">> dwightdiesmo.Email</h6>
        <h6 class="text-light font-weight-normal fs-12 ml-4">
          => "<a href="" class="text-decoration-none text-two"
            >dwightdiesmo@gmail.com</a
          >"
        </h6>
      </div>
    </div>
  </div>
</section>

<section id="resume" class="bg-light py-5">
  <div class="container">
    <h6 class="text-center">RÉSUMÉ</h6>

    <h6 class="mt-5">EDUCATION</h6>
    <hr />
    <div id="education-items" class="row py-3">
      <div class="col-lg-1 col-2">
        <img src="../assets/education/sdsu-logo.png" alt="" class="w-100" />
      </div>
      <div class="col-lg-11 col-10">
        <div class="row">
          <div class="col-6"><b>SAN DIEGO STATE UNIVERSITY</b></div>
          <div class="col-6 text-right"><i>2018-2022</i></div>
        </div>
        <div class="row">
          <div class="col-6"><b>Computer Engineering, B.S.</b></div>
          <div class="col-6 text-right"><i>San Diego, CA</i></div>
        </div>
        <div class="mt-5">
          Relevant Coursework:
        </div>
        <ul class="list-unstyled">
          <ul>
            {{ range $.Site.Data.resume.education }}
            <li class="">{{ .relevantCoursework }}</li>
            {{ end }}
          </ul>
        </ul>
      </div>
    </div>

    <h6 class="mt-5">WORK EXPERIENCE</h6>
    <hr />
    {{ range $.Site.Data.resume.work }}
    <div id="work-items" class="row py-3">
      <div class="col-lg-1 col-2">
        <img src="{{ .companyLogo }}" alt="" class="w-100" />
      </div>
      <div class="col-lg-11 col-10">
        <div class="row">
          <div class="col-6"><b>{{ .companyName }}</b></div>
          <div class="col-6 text-right"><i>{{ .jobDuration }}</i></div>
        </div>
        <div class="row">
          <div class="col-6"><b>{{ .jobTitle }}</b></div>
          <div class="col-6 text-right"><i>{{ .companyLocation }}</i></div>
        </div>
        <div class="mt-5">
          {{ .jobDescription }}
        </div>
      </div>
    </div>
    {{ end }}

    <h6 class="mt-5">VOLUNTEER EXPERIENCE</h6>
    <hr />
    {{ range $.Site.Data.resume.volunteer }}
    <div id="volunteer-items" class="row py-3">
      <div class="col-lg-1 col-2">
        <img src="{{ .organizationLogo }}" alt="" class="w-100" />
      </div>
      <div class="col-lg-11 col-10">
        <div class="row">
          <div class="col-6"><b>{{ .organizationName }}</b></div>
          <div class="col-6 text-right"><i>{{ .volunteerDuration }}</i></div>
        </div>
        <div class="row">
          <div class="col-6"><b>{{ .volunteerTitle }}</b></div>
          <div class="col-6 text-right"><i>{{ .organizationLocation }}</i></div>
        </div>
        <div class="mt-5">
          {{ .volunteerDescription }}
        </div>
      </div>
    </div>
    {{ end }}

    <h6 class="mt-5">PROJECTS</h6>
    <hr />
    {{ range $.Site.Data.resume.projects }}
    <div id="project-items" class="row py-3">
      <div class="col-2">
        <img src="{{ .projectImg }}" alt="" class="w-100" />
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-6"><b>{{ .projectName }}</b></div>
          <div class="col-6 text-right"><i>{{ .projectDuration }}</i></div>
        </div>
        <div class="mt-5">
          {{ .projectDescription }}
        </div>
      </div>
    </div>
    {{ end }}

    <h6 class="mt-5">REFERENCE</h6>
    <hr />
    {{ range $.Site.Data.resume.reference }}
    <div id="reference-items" class="row py-3">
      <div class="col-lg-1 col-2 my-auto">
        <img src="{{ .referenceCompany }}" alt="" class="w-100" />
      </div>
      <div class="col-lg-11 col-10 my-auto">
        <div class="row">
          <div class="col-6"><b>{{ .referenceName }}</b></div>
          <div class="col-6 text-right"><i>{{ .referencePhone }}</i></div>
        </div>
        <div class="row">
          <div class="col-6"><b>{{ .referenceTitle }}</b></div>
          <div class="col-6 text-right"><i>{{ .referenceEmail }}</i></div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
